

.title_articles_box{
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 100%;
    

}
.white_main_blog {
    display: flex;
    background-color: white;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}
.article_title_blog{
    margin: 2% 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
div{
    display: flex;
}
.main_blog_principal_box{
    display: flex;
    flex-direction: row;
    width: 90vw;
    min-height: 50vh;
    
   
    justify-content: space-between;
    
}
.main_blog_principal{
    
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: rgba(227, 226, 226, 0.56);
    border-radius: 10px;
    box-shadow:  2px 2px 5px 1px rgba(61, 61, 61, 0.045);

}
#main_blog_side{
    width: 20%;
}

.articles_section{
    margin: 3vh;
    text-align:justify 
}
.articles_section article{
    margin: 2%  ;


}
.articles_section article h2, h3{
    color: #20753F;
}
.articles_section .article_p{
    color: black;
}

.articles_line_division{
    width: 50%;
    background-color: #31b561;
    border: none;
    height: 2px;
}

.vertical_articles_line_division_config_blog{
    background-color: #31b561;
    height: 200px;
    width: 2px;
}
.vertical_articles_line_division{
    transform: rotate(90deg);
    width: 50%;
    background-color: #31b561;
    border: none;
    height: 2px;


}
.principal_articles{
    min-height: 30vh;
}

.article_text{
    font-size: 15px;
}

.article_description{
    font-size: 20px;
}

.space_between_header_articles{
    width: 100%;
    height: 10vh;
}
.space_between_side_articles_horizontal_lines_and_tittle{
    width: 100%;
    height: 2vh;
}

.space_between_principal_articles_tittle_and_principal_articles_content{
    width: 100%;
    height: 2vh;
}

.space_between_side_box{
    width: 100%;
    height: 7vh;
}

.principal_articles_tittle{
    font-size: 22px;

}

.principal_articles_tittle_date_box, .principal_articles_tittle_box{
    margin-bottom: 3vh;
}
.principal_articles_description{
    font-size: 16px;
    color: gray;

}
.principal_articles_content{
    font-size: 16px;
    color: rgb(24, 24, 24);
}
.side_articles_section{
    margin: 0;
}
.side_articles_box_box{
    width: 100%;
    height: 100%;
    background-color: rgba(227, 226, 226, 0.56);
    border-radius: 10px;
    box-shadow:  2px 2px 5px 1px rgba(61, 61, 61, 0.045);
    margin-top: 5%;
}
.side_articles_box{
    margin: 7%;
    
    
}
.side_articles{
    min-height: 10vh;
}

.side_articles_tittle{
    margin-bottom: 5%;
    font-size: 16px;

}

.side_articles_description{
    font-size: 14px;
    color: gray;
    margin-bottom: 2vh;
}

.enter_button{
    background-color: #0ded5f;
    font-family: Urbanist;
    font-weight: 700;
    border: none;
    width: 80px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
    align-content: center;
}

.articles_categories_nav{
    display: flex;
    flex-direction: column !important;
    min-height: 18vh;
    justify-content: space-between;
}

.articles_categories_nav a{

    font-size: 16px;
    color: #20753F;
    font-weight: bold;
    margin-bottom: 0.7vh;
}