.login_button{
    border: none;
    background-color: #31b561;
    border-radius: 5px;
    height: 20px;
}
.login_main {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#margin_login_box {
    display: flex;
    flex-direction: column;
}

.principal_login_box {

    display: flex;
    flex-direction: column;
    justify-content: center;

}
div{
    display: flex;
}
.box_login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 30vh;
    
}
.box_login form{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: space-between;


}
.box_login form input#email, input#password{
    min-width: 25vw;    
    border-radius: 2%;
    box-shadow: none;
    border: 1px inset black;
    border-radius: 4px;
    height: 20px;
}
.box_login form input#button_submit_blog_login{
    width: 70%;
    height: 25px;
    color: white;
    background-color: #20753f ;
    border: none;
    border-radius: 4px;
    font-size: 13px;
}
.box_login form label{
    font-size: 12px;
}
#sign_up_section{
    justify-content: center;
    align-items: center;
    text-align: center;
}
#sign_up_section a{
    width: 50%;
}
#sign_up_button_login_page{
    font-size: 16px;
    background-color: #20753f ;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 13px;
    height: 25px;
    color: white;
    
}
#are_not_you_signed_question{
    font-size: 14px;
}

#box_hr_division_sign_up{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin-bottom: 10px;
}
#hr_division_sign_up{

    display: flex;
    width: 80%;
    height: 4px;
    background-color: #31b561;
    border: none;
    border-radius: 4px;
    
}