.login_main{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal_login_box{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
        
}

.form_global_config{
    flex-direction: column;
}