@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Orbitron:wght@900&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;

}

html {
    font-size: 10px;
}

body {
    background-color: #0F381E;
    color: #31b561;
    font-family: Urbanist;
    display: flex;
    flex-direction: column;

}
.white_body_blog{
    background-color: white;
    color: #31b561;
    font-family: Urbanist;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 100vw;
    justify-content: space-between;

}

a {
    text-decoration: none;
    color: #31b561;
}

div {
    display: flex;
    flex-direction: column;
}

#logo {
    flex-direction: column;
    width: 20vw;
    justify-content: end;
    margin-left: 50px;
    margin-bottom: 10px;
}
#logo_blog{
    flex-direction: column;
    width: 20vw;
    justify-content: center;
    margin-top: 30px;
}
#logo_blog h1 #zek_logo_blog{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: urbanist;
}

#logo h1 {
    font-size: 3.5rem;
    color: #42f584;
    font-family: orbitron;
}
#logo_blog h1{
    font-size: 3.5rem;
    color: #42f584;
    font-family: orbitron;
}

#menu {
    
    justify-content: right;
    margin-top: 20px;
    margin-right: 40px;
    width: 35vw;
}

#principal_nav {
    display: flex;
    flex-direction: row;
    justify-content: right;

}

#principal_nav a {
    font-size: 1.5rem;
    margin-left: 25px;
    text-decoration: none;
    color: #42f584;
}



#small_header {
    background-color: #0F381E;
    display: flex;
    flex-direction: row;
    height: 8vh;
    width: 100vw;
    justify-content: space-between;

}

#logo_blog {
    flex-direction: column;
    width: 20vw;
    justify-content: end;
    margin-left: 50px;
    margin-bottom: 10px;
    font-family: Urbanist;
    font-weight: 500;
    color: #31b561;
    font-size: 2rem;
}

#principal {
    margin: 10%;
}

#my_name_is {
    font-size: 2rem;
    color: #20753F;
    font-weight: 400;
}

#name {
    font-size: 5rem;
    color: #42f584;
    font-weight: 700;
}

#dev_web {
    font-size: 3rem;
    font-weight: 500;
}

#footer_blog_principal {
    background-color: #0F381E;
    display: flex;
    height: 40px;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;

}