* {
    margin: 0;

}
body {
    
    display: flex;
    flex-direction: column;

}

header {
    display: flex;
    flex-direction: row;
    height: 20vh;
}
#principal_nav{
    flex-direction: row;
    justify-content: flex-end;
}

main {
    flex-direction: column;
    height: 75vh;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}