*{
    margin: 0;

}
body{
    display: flex;
    flex-direction: column;

}
header{
    display: flex;
    flex-direction: row;
    height: 20vh;   
}
main{
    
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
}